<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>AddRecruit_area</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
</head>
<body>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/job_seeker/updateJob_seeker.js}"></script>
<form class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 150px">求职人员姓名：</label>
        <div class="layui-input-block" style="width: 200px;display: inline-block;float: left">
            <input type="hidden" id="id" name="id" />
            <input type="text" id="name" name="name" required="required" style="width: 200px;display: inline-block"
                   placeholder="请输入求职人员姓名" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 150px">联系方式：</label>
        <div class="layui-input-block" style="width: 200px;display: inline-block;float: left">
            <input type="text" id="phone" name="phone" required="required" style="width: 200px;display: inline-block"
                   placeholder="请输入求职人员联系方式" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 150px">求职意向：</label>
        <div class="layui-input-block" style="width: 200px;display: inline-block;float: left">
            <select name="job_purpose"  id="job_purpose" lay-verify="required">
                <option th:each="seeker:${session.seekers}" th:value="${seeker.id}" th:text="${seeker.name}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block" align="center">
            <button class="layui-btn" onclick="updateJob_seekerButton()" >立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
</html>